:root {
  --color-frame-26086129 : #ffffff;
  --color-badge-stat : #eeeeee;
  --color------------------------- : #ffffff;
  --color-component-2 : #ffffff;
  --color-wifi-path : #dadada;
  --color----- : #000000;
  --color-tap-bar-true : #f9f9f9;
  --color-sf-symbol---leaf-fill : #007aff;
  --color-subtract : #cad3cb;
  --color-5 : #ffffff;
  --color-iphone-13-mini---10 : #f9f9f9;
  --color-frame-16 : #f9f9f9;
  --color-frame-26086101 : #fafafa;
  --color-page-2 : #1e1e1e;
  --color-ellipse-1 : #ffffff;
  --color-frame-26086136 : #a851ff;
  --color---------------------- : #3b3333;
  --color-frame-26086107 : #f9f9f9;
  --color-property-1-variant3 : #ffffff;
  --color------------------ : #f9f9f9;
  --color-property-1--------------------- : #ffffff;
  --color-------- : #000000;
  --color-check-- : #666262;
  --color-frame-14 : #f9f9f9;
  --color-button : #f9f9f9;
  --color-5- : #908a8a;
  --color-star-1 : #ffeea3;
  --color-frame-26086263 : #0e0e0e;
  --color-line-7 : #ffffff;
  --color-99-296-000 : #e325fd;
  --color-3-12 : #3b3333;
  --color-uz210317190002 : #666262;
  --color-150-000 : #000000;
  --color-inputs : #f5f5f5;
  --color-text : #3b3333;
  --color-frame-26086092 : #eeeeee;
  --color----- : #000000;
  --color-3 : #535050;
  --color----12-12-2028 : #000000;
  --color------------ : #000000;
  --color--------- : #3b3333;
  --color------------ : #000000;
  --color------------------------------------- : #3b3333;
  --color-frame-26086152 : #00cf61;
  --color-------- : #000000;
  --color-ds--------------------- : #444444;
  --color-label : #3b3333;
  --color-q : #ff8d28;
  --color-12-12-45 : #908a8a;
  --color-frame-26086270 : #d4d4d4;
  --color-frame-15 : #f9f9f9;
  --color------------------------ : #666262;
  --color-frame-26086144 : #ffffff;
  --color-w2 : #f9f9f9;
  --color-property-1---------------- : #ffffff;
  --color-frame-26086106 : #ffffff;
  --color--------- : #444444;
  --color-12-12-28 : #666262;
  --color------------ : #f9f9f9;
  --color-rectangle-2 : #cad3cb;
  --color-right-side : #ffffff;
  --color-8 : #ffffff;
  --color-iphone-13-mini---6 : #f9f9f9;
  --color------- : #282626;
  --color-2 : #ffffff;
  --color-rooms : #f9f9f9;
  --color---------- : #343333;
  --color-frame-26086264 : #f9f9f9;
  --color--------- : #343333;
  --color-4-5 : #3b3333;
  --color-------- : #3b3333;
  --color-frame-26086142 : #ffffff;
  --color-property-1-frame-26086098 : #eeeeee;
  --color-vector--stroke- : #232524;
  --color-ds : #1e1e1e;
  --color-virtual-kassa : #666262;
  --color-vector : #00cf61;
  --color-property-1-frame-26086100 : #e325fd;
  --color-1----12 : #000000;
  --color-w1 : #fafafa;
  --color-footer-text : #3b3333;
  --color-header : #f9f9f9;
  --color----------------- : #000000;
  --color-frame-26086114 : #f9f9f9;
  --color-icon---mobile-signal : #3b3333;
  --color------------------------- : #000000;
  --color-status-user : #eeeeee;
  --color--------- : #f9f9f9;
  --color-554-000 : #282626;
  --color-1- : #908a8a;
  --color-1221 : #666262;
  --color-rectangle-5 : #61707c;
  --color-frame-26086145 : #f9f9f9;
  --color-tabbar : #f9f9f9;
  --color-frame-26086272 : #f9f9f9;
  --color--tabbar-badge : #ff3b30;
  --color-blok-q : #ffcc00;
  --color-home-indicator : #000000;
  --color-frame-26086269 : #3b3333;
  --color----count : #ffffff;
  --color-frame-26086141 : #d3a8ff;
  --color--------------- : #000000;
  --color-9 : #ffffff;
  --color-notification : #3b3333;
  --color-frame-13 : #f9f9f9;
  --color---1000 : #ffffff;
  --color-sf-symbol---house : #007aff;
  --color-frame-26086147 : #f9f9f9;
  --color------------------- : #ffffff;
  --color-element---tag-label : #f9f9f9;
  --color-fiskal-belgi : #666262;
  --color----label : #007aff;
  --color-15-000 : #666262;
  --color------------------ : #343333;
  --color-12 : #3b3333;
  --color-line-12 : #ffffff;
  --color-category : #3b3333;
  --color----time : #3b3333;
  --color----- : #908a8a;
  --color-frame-26086113 : #f9f9f9;
  --color-union : #d9d9d9;
  --color-1 : #ffffff;
  --color-uzs : #908a8a;
  --color-iphone-13-mini---7 : #f9f9f9;
  --color-rectangle-4 : #cad3cb;
  --color------ : #3b3333;
  --color-frame-26086047 : #61707c;
  --color-frame-12 : #f9f9f9;
  --color-notch : #3b3333;
  --color------------------------------------- : #000000;
  --color-frame-26086150 : #f9f9f9;
  --color-battery-end : #3b3333;
  --color-sf-symbol---person-crop-circle-fill : #007aff;
  --color------ : #000000;
  --color-wifi : #3b3333;
  --color------- : #000000;
  --color-- : #666262;
  --color-property-1-peace : #3b3333;
  --color-rectangle-6 : #cad3cb;
  --color-frame-26086146 : #f9f9f9;
  --color-223-000 : #808080;
  --color-name : #352929;
  --color-fm-rakami : #666262;
  --color------ : #666262;
  --color-content-container : #f9f9f9;
  --color-frame-26086118 : #f9f9f9;
  --color-iphone-13-mini---5 : #f9f9f9;
  --color-line-10 : #ffffff;
  --color-- : #f9f9f9;
  --color------------------- : #444444;
  --color-rectangle-3 : #cad3cb;
  --color------------------- : #f9f9f9;
  --color-fill : #3b3333;
  --color-iphone-13-mini---8 : #f9f9f9;
  --color-0 : #908a8a;
  --color------------------ : #000000;
  --color-180-000 : #000000;
  --color-line-9 : #ffffff;
  --color--------------- : #3b3333;
  --color--------------- : #666262;
  --color-12-08-26 : #3b3333;
  --color------------------- : #000000;
  --color-line-11 : #ffffff;
  --color----- : #444444;
  --color--------------------------- : #808080;
  --color-6 : #ffffff;
  --color-------------------------- : #e325fd;
  --color-frame-11 : #f9f9f9;
  --color-foto-user : #f9f9f9;
  --color--------- : #3b3333;
  --color-35-000 : #666262;
  --color-frame-26086139 : #f2f2f7;
  --color-property-1-ok : #00cf61;
  --color--- : #ffffff;
  --color-ellipse-331 : #d9d9d9;
  --color---------------- : #ff1342;
  --color-4 : #ffffff;
  --color-frame-17 : #f9f9f9;
  --color-12-20-25 : #3b3333;
  --color----sf-symbol : #007aff;
  --color-296-000 : #000000;
  --color-line-8 : #ffffff;
  --color-frame-26086048 : #f8485e;
  --color--------------------- : #3b3333;
  --color-status : #e8e8e8;
  --color---- : #908a8a;
  --color-progress-limited : #666262;
  --color----------------- : #000000;
  --color----- : #000000;
  --color-10317190002 : #666262;
  --color-frame-26086149 : #f9f9f9;
  --color-sf-symbol---gearshape-fill : #007aff;
  --color--00 : #808080;
  --color-line-6 : #ffffff;
  --color-4- : #240641;
  --color-frame-26086097 : #f8f8f8;
  --color-statusbar : #f9f9f9;
  --color-left-side : #ffffff;
  --color---------- : #000000;
  --color-10 : #ffffff;
  --color-sf-symbol---scribble-variable : #007aff;
  --color-7 : #ffffff;
  --color-- : #000000;
  --color-main : #d4d4d4;
  --color-988-000 : #343333;
  --color-iphone-13-mini---9 : #f9f9f9;
  --color-w : #f1e3ff;
  --color-dot : #ff1342;
  --color------------- : #00cf61;
  --font----time-family : 'Montserrat', sans-serif;
  --font----time-size : 16.0px;
  --font----time-weight : 600;
  --font----------family : 'SF UI Display', sans-serif;
  --font----------size : 12.0px;
  --font----------weight : 500;
  --font-------------------family : 'Montserrat', sans-serif;
  --font-------------------size : 12.0px;
  --font-------------------weight : 500;
  --font-fm-rakami-family : 'Montserrat', sans-serif;
  --font-fm-rakami-size : 13.0px;
  --font-fm-rakami-weight : 500;
  --font-----------------family : 'Aboreto', sans-serif;
  --font-----------------size : 12.0px;
  --font-----------------weight : 400;
  --font-fiskal-belgi-family : 'Montserrat', sans-serif;
  --font-fiskal-belgi-size : 13.0px;
  --font-fiskal-belgi-weight : 500;
  --font-223-000-family : 'Actor', sans-serif;
  --font-223-000-size : 18.0px;
  --font-223-000-weight : 400;
  --font--------------family : 'Aboreto', sans-serif;
  --font--------------size : 12.0px;
  --font--------------weight : 400;
  --font-12-12-28-family : 'Montserrat', sans-serif;
  --font-12-12-28-size : 13.0px;
  --font-12-12-28-weight : 500;
  --font-------------family : 'Aboreto', sans-serif;
  --font-------------size : 12.0px;
  --font-------------weight : 400;
  --font-1--family : 'Montserrat', sans-serif;
  --font-1--size : 13.0px;
  --font-1--weight : 300;
  --font-------------------family : 'Aboreto', sans-serif;
  --font-------------------size : 12.0px;
  --font-------------------weight : 400;
  --font-header-family : 'Montserrat', sans-serif;
  --font-header-size : 16.0px;
  --font-header-weight : 500;
  --font----------------family : 'Montserrat', sans-serif;
  --font----------------size : 16.0px;
  --font----------------weight : 500;
  --font----------family : 'Aboreto', sans-serif;
  --font----------size : 12.0px;
  --font----------weight : 400;
  --font-3-family : 'Montserrat', sans-serif;
  --font-3-size : 13.0px;
  --font-3-weight : 600;
  --font-1221-family : 'Montserrat', sans-serif;
  --font-1221-size : 13.0px;
  --font-1221-weight : 500;
  --font-3-12-family : 'Montserrat', sans-serif;
  --font-3-12-size : 12.0px;
  --font-3-12-weight : 700;
  --font----------family : 'Montserrat', sans-serif;
  --font----------size : 20.0px;
  --font----------weight : 400;
  --font-12-12-45-family : 'Montserrat', sans-serif;
  --font-12-12-45-size : 10.0px;
  --font-12-12-45-weight : 500;
  --font-----family : 'Montserrat', sans-serif;
  --font-----size : 7.0px;
  --font-----weight : 500;
  --font-4--family : 'Montserrat', sans-serif;
  --font-4--size : 11.0px;
  --font-4--weight : 300;
  --font--------------------------family : 'Inter', sans-serif;
  --font--------------------------size : 10.0px;
  --font--------------------------weight : 400;
  --font--00-family : 'Aboreto', sans-serif;
  --font--00-size : 12.0px;
  --font--00-weight : 400;
  --font---------family : 'Inter', sans-serif;
  --font---------size : 10.0px;
  --font---------weight : 400;
  --font-10317190002-family : 'Montserrat', sans-serif;
  --font-10317190002-size : 13.0px;
  --font-10317190002-weight : 500;
  --font-check---family : 'Montserrat', sans-serif;
  --font-check---size : 13.0px;
  --font-check---weight : 500;
  --font-4-family : 'Montserrat', sans-serif;
  --font-4-size : 9.0px;
  --font-4-weight : 500;
  --font--------------------------------------family : 'Aboreto', sans-serif;
  --font--------------------------------------size : 12.0px;
  --font--------------------------------------weight : 400;
  --font----sf-symbol-family : 'Montserrat', sans-serif;
  --font----sf-symbol-size : 24.0px;
  --font----sf-symbol-weight : 500;
  --font----------------------------family : 'Aboreto', sans-serif;
  --font----------------------------size : 12.0px;
  --font----------------------------weight : 400;
  --font--------------------------family : 'Inter', sans-serif;
  --font--------------------------size : 16.0px;
  --font--------------------------weight : 700;
  --font-12-08-26-family : 'Montserrat', sans-serif;
  --font-12-08-26-size : 16.0px;
  --font-12-08-26-weight : 500;
  --font-988-000-family : 'Montserrat', sans-serif;
  --font-988-000-size : 16.0px;
  --font-988-000-weight : 700;
  --font-296-000-family : 'Montserrat', sans-serif;
  --font-296-000-size : 24.0px;
  --font-296-000-weight : 800;
  --font----------------family : 'Montserrat', sans-serif;
  --font----------------size : 14.0px;
  --font----------------weight : 400;
  --font-12-family : 'Montserrat', sans-serif;
  --font-12-size : 16.0px;
  --font-12-weight : 500;
  --font----family : 'Inter', sans-serif;
  --font----size : 16.0px;
  --font----weight : 700;
  --font----------------family : 'Montserrat', sans-serif;
  --font----------------size : 13.0px;
  --font----------------weight : 400;
  --font-------------family : 'Inter', sans-serif;
  --font-------------size : 10.0px;
  --font-------------weight : 400;
  --font-------family : 'Montserrat', sans-serif;
  --font-------size : 16.0px;
  --font-------weight : 400;
  --font-------------family : 'Montserrat', sans-serif;
  --font-------------size : 24.0px;
  --font-------------weight : 400;
  --font------family : 'Inter', sans-serif;
  --font------size : 10.0px;
  --font------weight : 400;
  --font--------------------family : 'Inter', sans-serif;
  --font--------------------size : 16.0px;
  --font--------------------weight : 700;
  --font-------------------family : 'Montserrat', sans-serif;
  --font-------------------size : 14.0px;
  --font-------------------weight : 400;
  --font-progress-limited-family : 'Montserrat', sans-serif;
  --font-progress-limited-size : 13.0px;
  --font-progress-limited-weight : 500;
  --font------------------family : 'Inter', sans-serif;
  --font------------------size : 10.0px;
  --font------------------weight : 400;
  --font----------family : 'Aboreto', sans-serif;
  --font----------size : 12.0px;
  --font----------weight : 400;
  --font--------------------family : 'Inter', sans-serif;
  --font--------------------size : 10.0px;
  --font--------------------weight : 400;
  --font------family : 'Inter', sans-serif;
  --font------size : 10.0px;
  --font------weight : 400;
  --font--------------------------------------family : 'Inter', sans-serif;
  --font--------------------------------------size : 10.0px;
  --font--------------------------------------weight : 400;
  --font---family : 'Montserrat', sans-serif;
  --font---size : 13.0px;
  --font---weight : 500;
  --font-150-000-family : 'Montserrat', sans-serif;
  --font-150-000-size : 16.0px;
  --font-150-000-weight : 600;
  --font-35-000-family : 'Montserrat', sans-serif;
  --font-35-000-size : 13.0px;
  --font-35-000-weight : 500;
  --font-5--family : 'Montserrat', sans-serif;
  --font-5--size : 11.0px;
  --font-5--weight : 300;
  --font-5-family : 'Montserrat', sans-serif;
  --font-5-size : 9.0px;
  --font-5-weight : 500;
  --font-6-family : 'Montserrat', sans-serif;
  --font-6-size : 9.0px;
  --font-6-weight : 500;
  --font---------------------------family : 'Aboreto', sans-serif;
  --font---------------------------size : 12.0px;
  --font---------------------------weight : 400;
  --font---1000-family : 'Montserrat', sans-serif;
  --font---1000-size : 13.0px;
  --font---1000-weight : 300;
  --font--------family : 'Montserrat', sans-serif;
  --font--------size : 24.0px;
  --font--------weight : 700;
  --font-----------family : 'Montserrat', sans-serif;
  --font-----------size : 16.0px;
  --font-----------weight : 700;
  --font-------family : 'Montserrat', sans-serif;
  --font-------size : 13.0px;
  --font-------weight : 500;
  --font---------family : 'Aboreto', sans-serif;
  --font---------size : 12.0px;
  --font---------weight : 400;
  --font--------family : 'Montserrat', sans-serif;
  --font--------size : 16.0px;
  --font--------weight : 600;
  --font---family : 'Inter', sans-serif;
  --font---size : 20.0px;
  --font---weight : 900;
  --font-category-family : 'Plus Jakarta Sans', sans-serif;
  --font-category-size : 32.0px;
  --font-category-weight : 800;
  --font-99-296-000-family : 'Montserrat', sans-serif;
  --font-99-296-000-size : 20.0px;
  --font-99-296-000-weight : 800;
  --font-1----12-family : 'Montserrat', sans-serif;
  --font-1----12-size : 16.0px;
  --font-1----12-weight : 700;
  --font-1-family : 'Montserrat', sans-serif;
  --font-1-size : 9.0px;
  --font-1-weight : 500;
  --font------family : 'Montserrat', sans-serif;
  --font------size : 7.0px;
  --font------weight : 500;
  --font-------family : 'Aboreto', sans-serif;
  --font-------size : 12.0px;
  --font-------weight : 400;
  --font-2-family : 'Montserrat', sans-serif;
  --font-2-size : 9.0px;
  --font-2-weight : 500;
  --font-----------------------family : 'Aboreto', sans-serif;
  --font-----------------------size : 12.0px;
  --font-----------------------weight : 400;
  --font------family : 'Montserrat', sans-serif;
  --font------size : 13.0px;
  --font------weight : 700;
  --font----label-family : 'Montserrat', sans-serif;
  --font----label-size : 10.0px;
  --font----label-weight : 500;
  --font-uz210317190002-family : 'Montserrat', sans-serif;
  --font-uz210317190002-size : 13.0px;
  --font-uz210317190002-weight : 500;
  --font----12-12-2028-family : 'Montserrat', sans-serif;
  --font----12-12-2028-size : 16.0px;
  --font----12-12-2028-weight : 700;
  --font-footer-text-family : 'Aboreto', sans-serif;
  --font-footer-text-size : 12.0px;
  --font-footer-text-weight : 400;
  --font-180-000-family : 'Montserrat', sans-serif;
  --font-180-000-size : 16.0px;
  --font-180-000-weight : 600;
  --font--------------------family : 'Aboreto', sans-serif;
  --font--------------------size : 12.0px;
  --font--------------------weight : 400;
  --font------------------family : 'Inter', sans-serif;
  --font------------------size : 10.0px;
  --font------------------weight : 400;
  --font-12-20-25-family : 'Aboreto', sans-serif;
  --font-12-20-25-size : 12.0px;
  --font-12-20-25-weight : 400;
  --font-label-family : 'Actor', sans-serif;
  --font-label-size : 18.0px;
  --font-label-weight : 400;
  --font-0-family : 'Montserrat', sans-serif;
  --font-0-size : 14.0px;
  --font-0-weight : 500;
  --font-name-family : 'Montserrat', sans-serif;
  --font-name-size : 16.0px;
  --font-name-weight : 400;
  --font-15-000-family : 'Montserrat', sans-serif;
  --font-15-000-size : 13.0px;
  --font-15-000-weight : 500;
  --font-text-family : 'Montserrat', sans-serif;
  --font-text-size : 22.0px;
  --font-text-weight : 400;
  --font-----------family : 'Inter', sans-serif;
  --font-----------size : 10.0px;
  --font-----------weight : 400;
  --font----------------------family : 'Aboreto', sans-serif;
  --font----------------------size : 12.0px;
  --font----------------------weight : 400;
  --font-virtual-kassa-family : 'Montserrat', sans-serif;
  --font-virtual-kassa-size : 13.0px;
  --font-virtual-kassa-weight : 500;
  --font-554-000-family : 'Montserrat', sans-serif;
  --font-554-000-size : 16.0px;
  --font-554-000-weight : 700;
  --font-notification-family : 'Plus Jakarta Sans', sans-serif;
  --font-notification-size : 12.0px;
  --font-notification-weight : 800;
  --font-uzs-family : 'Montserrat', sans-serif;
  --font-uzs-size : 7.0px;
  --font-uzs-weight : 500;
  --font-4-5-family : 'Aboreto', sans-serif;
  --font-4-5-size : 12.0px;
  --font-4-5-weight : 400;
  --font-------------------------family : 'Montserrat', sans-serif;
  --font-------------------------size : 13.0px;
  --font-------------------------weight : 400;
  --font----count-family : 'SF Pro Text', sans-serif;
  --font----count-size : 12.0px;
  --font----count-weight : 400;
  --font---------family : 'Inter', sans-serif;
  --font---------size : 10.0px;
  --font---------weight : 400;
}

