:root {
  --color-main : #d4d4d4;
  --color-lgoos-test : #3b3333;
  --color-frame-2 : #000000;
  --color-copiryte : #3b3333;
  --color-frame-1 : #f9f9f9;
  --font-lgoos-test-family : 'Montserrat', sans-serif;
  --font-lgoos-test-size : 22.0px;
  --font-lgoos-test-weight : 400;
  --font-copiryte-family : 'Aboreto', sans-serif;
  --font-copiryte-size : 12.0px;
  --font-copiryte-weight : 400;
}

