* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D4D4D4;
    margin: 0;
    padding: 0;
}

.main {
    width: 1440px;
    height: 1024px;
    background-color: #D4D4D4;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-bottom: 200px;
    gap: 10px;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.frame-1 {
    width: 1440px;
    height: 624px;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 162px;
    padding-bottom: 162px;
    gap: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.lgoos-test {
    width: 1040px;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    color: #3B3333;
    text-align: center;
    letter-spacing: -0.32px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1440px) {
    .main {
        width: 100%;
        height: 100vh;
        padding-top: calc(200px * 100 / 1024);
        padding-bottom: calc(200px * 100 / 1024);
    }
    
    .frame-1 {
        width: 100%;
        height: calc(624px * 100 / 1024);
        padding-left: calc(200px * 100 / 1440);
        padding-right: calc(200px * 100 / 1440);
        padding-top: calc(162px * 100 / 624);
        padding-bottom: calc(162px * 100 / 624);
    }
    
    .lgoos-test {
        width: 100%;
        font-size: clamp(16px, 1.5vw, 22px);
    }
}
